.property3__addunits{
    background: #038618;
    color:white;
    border:none;
    width: 547px;
    height: 62px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'MetaPro';
    margin-top:50px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;

}
.property3__viewproperty{
    width: 547px;
    height: 62px;
    background: #FFFFFF;
    color:#038618;
    border: 1px solid #038618;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left:auto;
    margin-right:auto;
    margin-top:3px;
    font-family: 'MetaPro';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
}

.property3{
    display:flex;
    background-color: white;
    flex-direction:column;
    height: 605px;
    width:631px;
    margin-top:300px;
    
    background: #FFFFFF;
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
}
.property3_heading{
    text-align: center;
    color: #038618;
    margin-top:30px;

}
.property3_subheading{
    text-align: center;
    color: #767272;
    margin-top:0;
    font-family: 'MetaPro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 150%;
}
.property3_icon{
    width: 218.47px;
height: 213.69px;
text-align:center;
justify-content:center;
margin-left: auto;
margin-right:auto;
}